/*
 * Design for default element of all pages
 *
 */

.small{
  font-size: 12px;
  color: #888;
}

.icon_signIn{
  cursor: pointer;
}

.icon_signIn:hover{
  width: 48px;
}

a{
  text-decoration: none;
}

h2{
  font-weight: normal;
}

input, textarea, select{
  padding: 10px 20px;
  border-radius: 18px;
  border: 1px solid #E5E5E5;
  color: #555;
  font-size: 14px;
  box-sizing : border-box;
  font-weight: lighter;
  font-family: 'mainFont', sans-serif;
}

input:hover, textarea:hover, select:hover{
  border: 1px solid #CACACA;
}

input[type='submit']{
  background-color: #EEE;
  color: #555;
}

input[type='submit']:hover{
  background-color: #DDD;
  cursor: pointer;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

button{
  background-color: inherit;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid #000;
  cursor: pointer;
  font-family: 'mainFont';
}
