/*
 * Design for main (all pages)
 *
 */

/* Create the main font */
 @font-face {
   font-family: 'mainFont';
   src: url('../assets/static/Montserrat/Montserrat-Regular.ttf');
 }
 @font-face {
   font-family: 'mainFontLigth';
   src: url('../assets/static/Montserrat/Montserrat-Light.ttf');
 }
/* Set body config */
 body{
   margin: 0px;
   font-family: 'mainFont', sans-serif;
 }
 /* Container for the detail that we don't want to fill width screen */
 .container{
   width:100%;
   padding-right:15px;
   padding-left:15px;
   margin-right:auto;
   margin-left:auto;
 }
 @media (min-width:576px){
   .container{
     max-width:540px
   }
 }
 @media (min-width:768px){
   .container{
     max-width:720px
   }
 }
 @media (min-width:992px){
   .container{
     max-width:960px
   }
 }
 @media (min-width:1200px){
   .container{
     max-width:1140px
   }
 }
