/*
 * Design for normal class for each component can use
 *
 */

/* Container for flexible with width screen */
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width:576px){
  .container{
    max-width: 540px
  }
}
@media (min-width:768px){
  .container{
    max-width: 720px
  }
}
@media (min-width:992px){
  .container{
    max-width: 960px
  }
}
@media (min-width:1200px){
  .container{
    max-width: 1140px
  }
}

/* Margin top for under the navigator bar */
main{
  margin-top: 120px;
}
/* Remove the margin top for under the navigator bar */
.fluidTop{
  margin-top: -120px;
}

/* Config form in center  */
.formCenter{
  margin: auto;
  text-align: center;
  margin-bottom: 180px;
  width: 800px;
}
.formCenter input,textarea,select{
  width: 100%;
}
.formCenter a{
  color: inherit;
}
@media (max-width:768px) {
  .formCenter{
    padding: 0px;
    width: 100%;
  }
  .formCenter input, .formCenter textarea, .formCenter select, #map{
    margin: auto;
  }
  .formCenter input[type='submit']{
    width: 100%;
  }
  .formCenter select{
    margin-bottom: 20px;
  }
}
@media (max-width:576px) {
  .formCenter{
    max-width: 95%;
  }
  .formCenter select{
    margin-bottom: 20px;
  }
}

/* Background color black in navigator bar */
.navBackground{
  height: 51px;
  background-color: #000;
}

/* Config small form */
.smallForm{
  margin-top: 180px;
  width: 400px;
}

/* Config small text */
.smallText{
  font-size: 12px;
  color: #888;
}
.smallText a:hover{
  text-decoration: underline;
}

/* Config for icon signin */
.icon_signIn{
  cursor: pointer;
  margin-top: 10px;
}
.icon_signIn:hover{
  width: 48px;
  margin-top: 0px;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  color: #777;
  background-color: #FFF;
  border: 1px solid #777;
  border-radius: 24px;
  padding: 2px 7px;
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -20%;
  left: 75%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
